name: Minecraft Localtonet

on:
  workflow_dispatch:

jobs:
  minecraft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout arquivos
        uses: actions/checkout@v4

      - name: Instalar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Instalar e Iniciar Localtonet
        run: |
          wget https://localtonet.com/download/localtonet-linux-x64.zip
          unzip localtonet-linux-x64.zip
          chmod +x localtonet
          # Inicia o túnel em segundo plano usando seu token
          ./localtonet -token AHy6hJNUocV4WFYzjaiZXGv0fktPexqn9 &

      - name: Rodar Servidor
        run: |
          echo "eula=true" > eula.txt
          # Se você quiser que o mapa salve, lembre de dar /stop no jogo depois
          java -Xmx6G -Xms6G -jar server.jar nogui

      - name: Backup automático
        if: always()
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Backup automático do mapa" || echo "Sem mudanças"
          git push
