name: Minecraft 24/7 (Com Auto-Save)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  minecraft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout arquivos
        uses: actions/checkout@v4

      - name: Instalar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Rodar Servidor
        run: |
          echo "eula=true" > eula.txt
          # Roda o servidor. Quando ele fechar (stop), o script continua abaixo.
          java -Xmx6G -Xms6G -jar server.jar nogui

      - name: Salvando progresso no GitHub
        if: always() # Salva mesmo se der erro ou fechar
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Backup automático: Mapa e IP salvos" || echo "Sem mudanças para salvar"
          git push
