name: Minecraft 24/7
on:
  workflow_dispatch: 
  schedule:
    - cron: '0 */6 * * *' 

jobs:
  minecraft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout arquivos
        uses: actions/checkout@v4

      - name: Instalar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Rodar Servidor
        run: |
          java -Xmx6G -Xms6G -jar server.jar nogui
